<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=sreekkstorage;AccountKey=hErjBGajo1O2Iq66Ul2a+Vrr27U5F3ZJ/1pmBSY3KSesQUhBony7MbAm4Q+xvBwslTBpvpThNaDPdFTFTVf6Yw==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>